body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, div, ul {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Light.eot");
  src: local("../fonts/Commissioner Light"), local("../fonts/Commissioner-Light"), url("../fonts/Commissioner-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Light.woff2") format("woff2"), url("../fonts/Commissioner-Light.woff") format("woff"), url("../fonts/Commissioner-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Regular.eot");
  src: local("../fonts/Commissioner Regular"), local("../fonts/Commissioner-Regular"), url("../fonts/Commissioner-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Regular.woff2") format("woff2"), url("../fonts/Commissioner-Regular.woff") format("woff"), url("../fonts/Commissioner-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Medium.eot");
  src: local("../fonts/Commissioner Medium"), local("/src/fonts/Commissioner-Medium"), url("../fonts/Commissioner-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Medium.woff2") format("woff2"), url("../fonts/Commissioner-Medium.woff") format("woff"), url("../fonts/Commissioner-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-SemiBold.eot");
  src: local("../fonts/Commissioner SemiBold"), local("../fonts/Commissioner-SemiBold"), url("../fonts/Commissioner-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-SemiBold.woff2") format("woff2"), url("../fonts/Commissioner-SemiBold.woff") format("woff"), url("../fonts/Commissioner-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Bold.eot");
  src: local("../fonts/Commissioner Bold"), local("../fonts/Commissioner-Bold"), url("../fonts/Commissioner-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Commissioner-Bold.woff2") format("woff2"), url("../fonts/Commissioner-Bold.woff") format("woff"), url("../fonts/Commissioner-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.article, .header__container,
.logo-nav-block,
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: Commissioner, sans-serif;
  color: #000000;
}

.body {
  background-image: url(../img/body/first_screen_bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.header__container,
.footer__container,
.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  padding-top: 20px;
  margin-right: 100px;
}

.img__logo {
  max-width: 102px;
}

.img__logo-second {
  max-width: 187px;
}

.header__nav,
.footer__nav,
.footer__logo-second {
  -ms-flex-item-align: center;
      align-self: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.menu .menu__item {
  margin-right: 40px;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu .menu__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header__call {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__call:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__call::before {
  position: absolute;
  content: url(../img/base/phone-icon.svg);
  left: -45px;
  top: -10px;
}

.hero {
  padding-top: 130px;
  padding-bottom: 230px;
  margin-bottom: 120px;
}
.hero .hero__title {
  max-width: 664px;
  width: 100%;
  margin-bottom: 44px;
  font-size: 48px;
  line-height: 59px;
}
.hero .hero__title .color-title {
  color: #018FA3;
  text-transform: uppercase;
  position: relative;
  text-shadow: -33px -25px 0 rgba(1, 143, 163, 0.06);
}
.hero .hero__description {
  max-width: 530px;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 44px;
}

.button {
  padding: 20px 45px;
  font-size: 20px;
  line-height: 24px;
  -webkit-box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: none;
}

.button-yellow {
  background: #FAE01A;
  position: relative;
  cursor: pointer;
}
.button-yellow::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  background: #FAE01A;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  border-radius: 30px;
  z-index: -1;
}

.articles {
  margin-bottom: 110px;
}

.article .article__text {
  max-width: 460px;
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin: 0 auto;
}
.article .article__text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -25px;
  right: -30px;
  background: #FFF7BE;
  border-radius: 30px;
  z-index: -1;
}
.article .img-wrapper, .article .img-wrapper--right {
  position: relative;
  max-width: 488px;
  width: 100%;
}
.article .img-wrapper::before, .article .img-wrapper--right::before {
  content: "";
  display: block;
  padding-top: 70.28%;
}
.article .img-wrapper .article__img, .article .img-wrapper--right .article__img {
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.article .img-wrapper::after, .article .img-wrapper--right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 4px dashed #018fa3;
  border-radius: 30px;
  z-index: -1;
}
.article .img-wrapper {
  margin-left: 32px;
  margin-bottom: 32px;
}
.article .img-wrapper::after {
  bottom: -32px;
  left: -32px;
}
.article .img-wrapper--right {
  margin-right: 32px;
}
.article .img-wrapper--right::after {
  right: -32px;
  bottom: -32px;
}

.article-first {
  padding-bottom: 115px;
}
.article-first .article__text::after {
  position: absolute;
  content: "";
  top: -75px;
  left: -60px;
  width: 100%;
  height: 100%;
  background-image: url(../img/about/bg_img_1.svg);
  background-repeat: no-repeat;
  z-index: -2;
}

.article-second .article__text::after {
  position: absolute;
  content: "";
  bottom: -30%;
  right: -20%;
  width: 200px;
  height: 200px;
  background-image: url(../img/about/bg_img_2.svg);
  background-repeat: no-repeat;
  z-index: -2;
}

.title {
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 60px;
}

.catalog {
  margin-bottom: 60px;
}

.sertificats {
  background: url(../img/certificates/sertificats_bg_1.png) no-repeat;
}
.sertificats .sertificats__content {
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.sertificats .sertificats__content .sertificat {
  position: relative;
  width: 100%;
}
.sertificats .sertificats__content .sertificat .sertificat__inner::before {
  content: "";
  display: block;
  padding-bottom: 70.1754%;
}
.sertificats .sertificats__content .sertificat .sertificat__inner .sertificat__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

.reviews {
  margin-bottom: 70px;
}
.reviews .reviews__cards .card__item {
  padding: 36px;
  border: 4px solid #018FA3;
  border-radius: 30px;
  margin-right: 20px;
}
.reviews .reviews__cards .reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 15px;
}
.reviews .reviews__cards .reviewer .reviewer__avatar {
  margin-right: 20px;
  max-width: 80px;
  max-height: 80px;
}
.reviews .reviews__cards .reviewer .reviewer__avatar img {
  border-radius: 50%;
}
.reviews .reviews__cards .reviewer .reviewer__name {
  font-size: 24px;
  line-height: 29px;
  -ms-flex-item-align: center;
      align-self: center;
}
.reviews .reviews__cards .reviewer__text {
  font-size: 20px;
  line-height: 24px;
  max-width: 327px;
}

.slick-next::before {
  position: absolute;
  content: "";
  background: url(../img/base/arrow_right.svg) no-repeat;
  top: 50%;
  right: -48px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 65px;
}

.slick-prev::before {
  position: absolute;
  content: "";
  background: url(../img/base/arrow_left.svg) no-repeat;
  top: 50%;
  left: -48px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 65px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  color: #FFFFFF;
  margin-bottom: 85px;
}
.contacts .contacts__container {
  background: url(../img/contacts/contacts_bg_1.png) no-repeat top right;
  padding-top: 135px;
}
.contacts .contacts__block {
  position: relative;
  background: #018FA3;
  -webkit-box-shadow: 0px 50px 50px -27px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px -27px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  max-width: 590px;
  padding: 15px 40px 40px 40px;
  margin-bottom: 60px;
}
.contacts .contacts__block::before {
  position: absolute;
  content: "";
  background: url(../img/contacts/contacys_bg_2.svg) no-repeat;
  width: 201px;
  height: 200px;
  top: -43px;
  height: -34px;
  z-index: -1;
}
.contacts .contacts__block .contacts__title {
  margin-bottom: 20px;
}
.contacts .contacts__block .contacts__text {
  font-size: 24px;
  line-height: 29px;
}
.contacts .contacts__block .contacts__text:not(.contacts__text:last-child) {
  margin-bottom: 20px;
}
.contacts .contacts__block .contacts__text .text__subtitle, .contacts .contacts__block .contacts__text .text__content {
  display: block;
}
.contacts .contacts__block .contacts__text .link {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contacts .contacts__block .contacts__text .link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.contacts .contacts__gmap {
  margin: 0 auto;
  border: 20px solid #000000;
  border-radius: 20px;
  text-align: right;
  max-width: 795px;
  max-height: 540px;
  width: 100%;
  height: 100%;
  position: relative;
}
.contacts .contacts__gmap .gmap_canvas {
  overflow: hidden;
  background: none !important;
  max-width: 755px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}
.contacts .contacts__gmap .gmap_canvas .gmap_iframe {
  height: 540px !important;
}
.contacts .contacts__gmap::before {
  position: absolute;
  content: "";
  top: 10%;
  left: -15%;
  width: 200px;
  height: 200px;
  background: url(../img/about/bg_img_1.svg) no-repeat;
  z-index: -2;
}
.contacts .contacts__gmap::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: -10%;
  width: 200px;
  height: 200px;
  background: url(../img/about/bg_img_2.svg) no-repeat;
  z-index: -2;
}

.footer {
  background: #0A2530;
}
.footer .footer__logo {
  margin-right: 100px;
}
.footer .footer__container {
  padding-bottom: 56px;
  padding-top: 56px;
}
.footer .menu__item {
  color: #FFFFFF;
}/*# sourceMappingURL=index.css.map */