* {
    box-sizing: border-box;
}

body, main, div, ul, h2, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

button {
    color: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}