@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, div, p, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tpy628");
  src: url("../fonts/icomoon.eot?tpy628#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tpy628") format("truetype"), url("../fonts/icomoon.woff?tpy628") format("woff"), url("../fonts/icomoon.svg?tpy628#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e905";
}

.icon-prev:before {
  content: "\e906";
}

.icon-pinterest-p:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

.icon-youtube-play:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-facebook-f:before {
  content: "\e904";
}

.footer .contacts .socials, .footer .footer__nav, .icons_panel, .nav__panel, .header__menu, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

body.lock {
  overflow: hidden;
}

.header {
  background-color: #F8F1EA;
}

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.heder_container {
  max-width: 1230px;
}

.nav_link {
  display: block;
  width: 100%;
}

.header__logo, .logo {
  max-width: 182px;
  max-height: 34px;
  -ms-flex-item-align: center;
      align-self: center;
}

.search_button,
.profile_button {
  max-width: 36px;
}

.search_icon {
  max-width: 36px;
  max-height: 36px;
}

.header__burger {
  display: none;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 38px;
  z-index: 2;
  cursor: pointer;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 1px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger .burger__lines {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 2px;
  top: 9px;
  border-radius: 1px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__burger.is-active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.header__burger.is-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.is-active .burger__lines {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

#menu {
  z-index: 2;
}

.header__menu {
  -ms-flex-item-align: center;
      align-self: center;
}
.header__menu .menu__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 28px 15px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.header__menu .menu__item:hover, .header__menu .menu__item.active {
  color: white;
  background-color: #F16A50;
}

.nav__panel {
  -ms-flex-item-align: center;
      align-self: center;
}

.icons_panel .search_button {
  margin-right: 30px;
}

.picture {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.first_screen {
  margin-bottom: 70px;
}

.first_screen__container {
  max-width: 1400px;
  padding: 0;
}

.first_screen_slide {
  position: relative;
}
.first_screen_slide::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.84)), to(rgba(217, 217, 217, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
  z-index: 1;
  opacity: 1;
}

.first_screen__img_block {
  position: relative;
  max-width: 1400px;
  width: 100%;
}
.first_screen__img_block::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.first_screen__content_block {
  position: absolute;
  top: 120px;
  right: 100px;
  text-align: center;
  color: #F8F1EA;
  text-transform: uppercase;
  z-index: 3;
}
.first_screen__content_block .first_screen__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 50px;
}

.view_more__btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #F8F1EA;
  padding: 15px 57px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.view_more__btn:hover {
  color: #F8F1EA;
  background-color: #F16A50;
  border: 2px solid #F16A50;
}

.prodacts {
  margin-bottom: 70px;
}

.prodacts__container, .partners__container {
  max-width: 1230px;
}

.title {
  color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.prodacts__cards {
  margin-bottom: 50px;
  position: relative;
}

.prodacts__title {
  margin-bottom: 50px;
}

.prodacts__card {
  position: relative;
  padding: 20px 10px;
  margin: 0 10px;
  border: 1px solid #F8F1EA;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.prodacts__card:hover {
  border: 1px solid #F16A50;
}
.prodacts__card .status {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  padding: 4px 5.5px;
}
.prodacts__card .in_stock {
  background-color: #F16A50;
  color: #F8F1EA;
}
.prodacts__card .sold {
  background-color: #F8F1EA;
  color: #000000;
}
.prodacts__card .img_wrapper {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 10px auto;
}
.prodacts__card .img_wrapper::before {
  content: "";
  display: block;
  padding-top: 147%;
}
.prodacts__card .product__description {
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.prodacts__card .product__price {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.prodacts .view_more__btn {
  border: 2px solid #000000;
}
.prodacts .view_more__btn:hover {
  border: 2px solid #F16A50;
}

.partners {
  background-color: #F8F1EA;
  padding: 70px 40px;
}

.partners__title {
  margin-bottom: 40px;
}

.partners__block .partner__item {
  display: block;
  height: 70px;
  position: relative;
}
.partners__block .partner_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.partners__block .partner_logo.epiphone {
  max-width: 100px;
  max-height: 36px;
}
.partners__block .partner_logo.esp {
  max-width: 100px;
  max-height: 44px;
}
.partners__block .partner_logo.gibson {
  max-width: 100px;
  max-height: 64px;
}
.partners__block .partner_logo.engl {
  max-width: 100px;
  max-height: 34px;
}
.partners__block .partner_logo.roland {
  max-width: 100px;
  max-height: 16px;
}
.partners__block .partner_logo.fender {
  max-width: 100px;
  max-height: 66px;
}
.partners__block .partner_logo.peavey {
  max-width: 100px;
  max-height: 60px;
}
.partners__block .partner_logo.marshal {
  max-width: 100px;
  max-height: 26px;
}
.partners__block .partner_logo.orange {
  max-width: 100px;
  max-height: 30px;
}

.footer {
  color: #F8F1EA;
  background-color: #35312D;
  padding: 70px 130px 20px 130px;
}
.footer .footer__logo, .footer .logo_light {
  max-width: 150px;
  max-height: 30px;
  -ms-flex-item-align: start;
      align-self: start;
}
.footer .footer__logo {
  margin-bottom: 35px;
}
.footer .footer__nav {
  margin-bottom: 50px;
}
.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 150px;
}
.footer .footer__menu .menu__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 10px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.footer .footer__menu .menu__item:last-child {
  margin: 0;
}
.footer .footer__menu .menu__item:hover, .footer .footer__menu .menu__item.active {
  color: #F16A50;
}
.footer .contacts {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}
.footer .contacts .contacts__title {
  margin-bottom: 50px;
}
.footer .contacts .socials {
  margin-bottom: 30px;
}
.footer .contacts .social_item {
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  font-size: 30px;
}
.footer .contacts .social_item:not(.social_item:last-child) {
  margin-right: 35px;
}
.footer .contacts .tel {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.footer .contacts .social_item:hover, .footer .contacts .tel:hover {
  color: #F16A50;
}
.footer .copy {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.slick-dots {
  bottom: 50px;
  z-index: 1;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button {
  border-radius: 50%;
  background-color: rgba(248, 241, 234, 0.7);
  color: rgba(248, 241, 234, 0.7);
}
.slick-dots li button::before {
  content: "";
}
.slick-dots li.slick-active button {
  background-color: #F16A50;
  color: #F16A50;
}
.slick-dots li:not(li:last-child) {
  margin-right: 30px;
}

.prodacts .slick-slider .slick-list,
.prodacts .slick-slider .slick-track, .partners__block .slick-slider .slick-list,
.partners__block .slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prodacts .slick-dots, .partners__block .slick-dots {
  bottom: -40px;
}
.prodacts .slick-dotted.slick-slider, .partners__block .slick-dotted.slick-slider {
  margin-bottom: 72px;
}

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.arrow .next, .arrow .prev {
  font-size: 74px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.arrow .next:hover, .arrow .prev:hover {
  color: #F16A50;
}

.next_arrow {
  right: -35px;
}

.prev_arrow {
  left: -35px;
}

.prodacts .slick-dots li button, .partners .slick-dots li button {
  background-color: #CAC2BA;
  color: #CAC2BA;
}
.prodacts .slick-dots li.slick-active button, .partners .slick-dots li.slick-active button {
  background-color: #F16A50;
  color: #F16A50;
}

@media screen and (max-width: 1284px) {
  .arrow .next, .arrow .prev {
    font-size: 30px;
  }
  .next_arrow {
    right: -20px;
  }
  .prev_arrow {
    left: -20px;
  }
}
@media screen and (max-width: 768px) {
  .slick-dots {
    bottom: 20px;
  }
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li button {
    width: 12px;
    height: 12px;
  }
  .slick-dots li:not(li:last-child) {
    margin-right: 20px;
  }
}
@media screen and (max-width: 450px) {
  .slick-dots li:not(li:last-child) {
    margin-right: 12px;
  }
}
@media screen and (max-width: 900px) {
  .header__menu .menu__item {
    padding: 20px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
  }
  .header__logo, .logo {
    max-width: 168px;
    max-height: 31px;
  }
  .search_button,
.profile_button {
    max-width: 27px;
  }
  .search_icon {
    max-width: 27px;
    max-height: 27px;
  }
  .search_icon {
    max-width: 27px;
    max-height: 27px;
  }
  .icons_panel .search_button {
    margin-right: 20px;
  }
  .first_screen__content_block {
    top: 60px;
    right: 82px;
  }
  .first_screen__content_block .first_screen__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    max-width: 210px;
    margin-bottom: 20px;
  }
  .view_more__btn {
    padding: 10px 26.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .prodacts__card {
    margin: 0 7.5px;
  }
  .footer {
    padding: 50px 55px 20px 20px;
  }
  .footer .footer__nav {
    margin-bottom: 40px;
  }
  .footer .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 350px;
    width: 100%;
  }
  .footer .footer__menu .menu__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .footer .contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .footer .contacts .contacts__title {
    margin-bottom: 25px;
  }
  .footer .contacts .socials {
    margin-bottom: 20px;
  }
  .footer .contacts .social_item {
    font-size: 20px;
  }
  .footer .contacts .social_item:not(.social_item:last-child) {
    margin-right: 35px;
  }
}
@media screen and (max-width: 768px) {
  .first_screen__img_block::before {
    padding-top: 49.48%;
  }
  .prodacts {
    margin-bottom: 50px;
  }
  .prodacts .prodacts__cards {
    margin-bottom: 40px;
  }
  .footer {
    padding: 120px 10px 30px 10px;
    position: relative;
  }
  .footer .footer__logo {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer .footer__nav {
    margin-bottom: 50px;
  }
  .footer .nav {
    max-width: none;
  }
  .footer .contacts {
    text-align: right;
  }
  .footer .contacts .socials {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 15px;
  }
  .header__nav .menu {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    overflow: auto;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F8F1EA;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .header__nav .menu.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav .menu .menu__item {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  .header__nav .menu .menu__item:hover {
    background-color: #F16A50;
  }
  .header__nav .menu .menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .prodacts {
    margin-bottom: 50px;
  }
  .prodacts .prodacts__cards {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 20px 10px;
  }
  .header__logo, .logo {
    max-width: 100px;
    max-height: 19px;
  }
  .search_button,
.profile_button {
    max-width: 20px;
  }
  .icons_panel .search_button {
    margin-right: 15px;
  }
  .first_screen__img_block::before {
    padding-top: 120%;
  }
  .first_screen__content_block {
    top: 60px;
    right: 11px;
  }
}/*# sourceMappingURL=index.css.map */