/* reset css */

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
	line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

nav, ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
}

input, button, textarea, a {
    font-family: inherit;
}

a, button {
    cursor: pointer;
}

/* end reset css */

/* my styles  */

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open-sans.woff");
    font-style: normal;
}

body {
    font-family: "Open Sans";
    color: #070707;
}

.content {
    margin: 0 auto;
    max-width: 970px;
    width: 100%;
    box-sizing: border-box;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 25px 15px;
    gap: 15px 40px;
    flex-wrap: wrap;
    border-bottom: 2px solid #828282;
}

.menu ul a {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #828282;
    transition: all 0.3s ease;
}

.menu .active, 
.menu a:hover {
    color: #070707;
}

.name {
    padding-top: 12px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}

.about-me,
.skills,
.portfolio,
.contacts {
    padding: 100px 0;
}

.about-me,
.portfolio {
    background: #F6F6F6;
}

.title {
    padding: 0 15px 50px 15px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}

.title .subtitle {
    display: block;
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
}

.article-content {
    padding: 0 15px;
    text-align: center;
}

.block {
    display: block;
}

.about-text {
    font-size: 18px;
    width: 100%;
    margin: 0 auto 30px auto;
}

.about-text:last-of-type {
    margin: 0 auto;
}

.about-text:nth-of-type(1) {
    max-width: 480px;
}

.about-text:nth-of-type(2) {
    max-width: 400px;
}

.about-text:nth-of-type(3) {
    max-width: 320px;
}

.skills-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 170px;
}

.skill-icon {
    align-self: center;
    padding-bottom: 25px;
}

.skills-item-title {
    margin: 0 auto;
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
}

.stars {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.star {
    width: 26px;
    height: 26px;
}

.star-activ {
    background-image: url('../img/star-icon-activ.svg');
}

.star-inactiv {
    background-image: url('../img/star-icon-inactiv.svg');
}

.portfolio-item:not(.portfolio-item:last-of-type) {
    margin-bottom: 70px;
}

.portfolio-link {
    padding-top: 40px;
    text-align: center;
}

.portfolio-item .link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #070707;
    transition: all 0.3s ease;
}

.portfolio-item .link:hover {
    text-decoration: none;
}

.contacts {
    padding-bottom: 0;
    text-align: center;
}

.contacts .title {
    padding-bottom: 60px;
}

.subtitle .block {
    line-height: 25px;
}

.social {
    padding: 0 15px 60px 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px 50px;
    flex-wrap: wrap;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.send-message {
    text-align: center;
}

.send-message-button {
    height: 44px;
    padding: 0 16px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #070707;
    border-radius: 22px;
    transition: all 0.5s ease;
}

.send-message-button:hover {
    background: #FFFFFF;
    color: #070707;
}

.text {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 230px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}